<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/admin/common :: adminHead('관리자페이지')">

</head>

<body>
	<section id="container">

		<th:block th:replace="fragments/admin/common :: adminHeader"></th:block>

		<th:block th:replace="fragments/admin/common :: adminSidebar('client')"></th:block>
		<section id="main-content">
			<section class="wrapper">
				<div class="row mt">
					<div class="col-md-12">
						<div class="content-panel">
							<h4>
								<i class="fa fa-angle-right"></i> 문의 : 총 <span></span>건
							</h4>
							<hr>
							<div class="row search-section">
								<div class="col-md-12">
									<h6>
										<i class="fas fa-question-circle"></i> 기본 검색조건 설정
									</h6>
									<form class="form-inline" role="form" method="POST"
										th:action="@{/admin/serviceManager}">
										<div class="form-group">
											<select class="form-control" th:name="size" id="pageSize">
												<option th:value="10"
													th:selected="${services.pageable.pageSize}=='10'">10개씩
													보기</option>
												<option th:value="30"
													th:selected="${services.pageable.pageSize}=='30'">30개씩
													보기</option>
												<option th:value="50"
													th:selected="${services.pageable.pageSize}=='50'">50개씩
													보기</option>
												<option th:value="100"
													th:selected="${services.pageable.pageSize}=='100'">100개씩
													보기</option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" name="searchType"
												id="searchType">
												<option id="searchBasic" value="none">검색 조건 선택</option>
												<option th:selected="${searchType == 'sort'}"
													id="searchSort" th:value="sort">상담 희망형태</option>
												<option th:selected="${searchType == 'code'}"
													id="searchCode" th:value="code">상담 주제</option>
												<option th:selected="${searchType == 'period'}"
													id="searchPeriod" th:value="period">기간 별 검색</option>
											</select>
										</div>
										<div class="form-group" id="periodSearch">
											<input type="date" class="form-control" id="startDate"
												name="startDate" th:value="${param.startDate}"> <input
												type="date" class="form-control" id="endDate" name="endDate"
												th:value="${param.endDate}">
										</div>
										<div class="form-group" id="codeSearch">
											<select class="form-control" name="codeSearch">
												<option th:selected="${codeSearch == '특허문의'}"
													th:value="특허문의">특허문의</option>
												<option th:selected="${codeSearch == '상표문의'}"
													th:value="상표문의">상표문의</option>
												<option th:selected="${codeSearch == '디자인문의'}"
													th:value="디자인문의">디자인문의</option>
											</select>
										</div>
										<div class="form-group" id="sortSearch">
											<select class="form-control" name="sortSearch">
												<option th:selected="${sortSearch == '선택없음'}"
													th:value="선택없음">선택 없음</option>
												<option th:selected="${sortSearch == '내방상담'}"
													th:value="내방상담">내방 상담</option>
												<option th:selected="${sortSearch == '출장상담'}"
													th:value="출장상담">출장 상담</option>
											</select>
										</div>
										<button type="submit" class="btn btn-theme">검색하기</button>
									</form>
								</div>
							</div>
							<table class="table table-striped table-advance table-hover">
                                <hr>
                                <thead>
                                    <tr>
                                        <th class="hidden-phone"><i class="fa fa-bullhorn"></i> 번호</th>
                                        <th><i class="fa fa-question-circle"></i> 이름</th>
                                        <th><i class="fa fa-bookmark"></i> 상담 주제</th>
                                        <th><i class="fa fa-bookmark"></i> 상담 내용</th>
                                        <th class="hidden-phone"><i class="fa fa-edit"></i> 상태</th>
                                        <th class="hidden-phone"> 비고</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="s:${services}">
                                        <td class="hidden-phone" th:text="${s.id}">
                                            1
                                        </td>
                                        <td><a th:text="${s.member.name}" th:href="@{|/admin/serviceDetail/${s.id}|}">고객이름</a></td>
                                        <td th:text="${s.code}">010-1234-1234 </td>
                                        <td th:text="${s.subject}">010-1234-1234 </td>
                                        <th:block th:if="${s.contact == true}" class="hidden-phone">
											<td><span class="label label-success label-mini">CHECK</span></td>
										</th:block>
										<th:block th:if="${s.contact == false}" class="hidden-phone">
											<td><span class="label label-warning label-mini">DUE</span></td>
										</th:block>
										<td class="hidden-phone">
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i
                                                    class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
						<div style="text-align: center;">
							<nav aria-label="navigation" style="text-align: center;">
								<ul class="pagination justify-content-center">
									<li class="page-item"
										th:classappend="${1 == services.pageable.pageNumber+1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/admin/serviceManager(page=0, size=${param.size}, searchType=${param.searchType}, searchWord=${param.searchWord}, startDate=${param.startDate}
										,endDate=${param.endDate}, sortSearch=${param.sortSearch}, subjectSearch=${param.subjectSearch})}"
										tabindex="-1" aria-disabled="true">First</a>
									</li>
									<li class="page-item"
										th:classappend="${1 == services.pageable.pageNumber+1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/admin/serviceManager(page=${services.pageable.pageNumber - 1}, size=${param.size}, searchType=${param.searchType}, searchWord=${param.searchWord}, startDate=${param.startDate}
										,endDate=${param.endDate}, sortSearch=${param.sortSearch}, subjectSearch=${param.subjectSearch})}"
										tabindex="-1" aria-disabled="true">Previous</a>
									</li>
									<li class="page-item"
										th:classappend="${i == services.pageable.pageNumber+1} ? 'disabled'"
										th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
										class="page-link" href="#" th:text=${i}
										th:href="@{/admin/serviceManager(page=${i-1}, size=${param.size}, searchType=${param.searchType}, searchWord=${param.searchWord}, startDate=${param.startDate}
										,endDate=${param.endDate}, sortSearch=${param.sortSearch}, subjectSearch=${param.subjectSearch})}">1</a>
									</li>
									<li class="page-item"
										th:classappend="${services.totalPages == services.pageable.pageNumber + 1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/admin/serviceManager(page=${services.pageable.pageNumber + 1}, size=${param.size}, searchType=${param.searchType}, searchWord=${param.searchWord}, startDate=${param.startDate}
										,endDate=${param.endDate}, sortSearch=${param.sortSearch}, subjectSearch=${param.subjectSearch})}">Next</a>
									</li>
									<li class="page-item"
										th:classappend="${services.totalPages == services.pageable.pageNumber + 1} ? 'disabled'">
										<a class="page-link" href="#"
										th:href="@{/admin/serviceManager(page=${services.totalPages-1}, size=${param.size}, searchType=${param.searchType}, searchWord=${param.searchWord}, startDate=${param.startDate}
										,endDate=${param.endDate}, sortSearch=${param.sortSearch}, subjectSearch=${param.subjectSearch})}">Last</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
	<script th:inline="javascript">
   		var searchType = /*[[${searchType}]]*/ 'default';
    </script>
	<th:block th:replace="fragments/admin/common :: adminScript"></th:block>
	<script src="/admin/lib/search2.js" type="text/javascript"></script>
</body>

</html>