<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/front/common :: head('상승 특허 회원 로그인')">


</head>
<body id="body">

    <div id="wrapper">
        <th:block th:replace="fragments/front/common :: headMenu"></th:block>
        <div class="clearfix"></div>

        <div id="titlebar" style="background:url('/front/images/new/title_background/14.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="headline centered margin-top-75 page-title">
                            <strong class="mb-15">상승국제특허법률사무소</strong>
                            <p>Member Sign In Page</p>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container scroll margin-bottom-75">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="headline centered">
                        <strong class="headline-with-separator">회원 로그인</strong>
                        <span>Member Sign In</span>
                    </h3>
                </div>
                <div class="add-listing-section margin-top-120 p-0 login-section">
	                <form method="post" th:action="@{/memberLogin}">
	                    <div class="separated-form">
	                        <div class="add-listing-section">
	
	                            <div class="add-listing-headline">
	                                <h3><i class="sl sl-icon-doc"></i>로그인 정보 입력</h3>
	                            </div>
	
	                            <div class="row with-forms">
	                                <div class="col-md-12">
	                                    <h5>회원 ID <i class="tip" data-tip-content="input your Name or your business Name"></i></h5>
	                                    <input class="search-field" type="text" name="username" />
	                                </div>
	                            </div>
	                            <div class="row with-forms">
	                                <div class="col-md-12">
	                                    <h5>Password <i class="tip" data-tip-content="input your Secret Key"></i></h5>
	                                    <input class="search-field" type="password" name="password" />
	                                </div>
	                            </div>
	                            <div class="alert alert-danger" role="alert" th:if="${param.error}">
						    		<p class="alert-text" th:if="${exception == 'NONE'}"># 없는 계정 입니다. 회원가입을 진행 해 주세요.</p>
						    		<p class="alert-text" th:if="${exception == 'PWER'}"># 비밀번호가 잘못되었습니다.</p>
						    		<p># 문제가 반복되는 경우 고객센터를 통해 문의 해 주시기 바랍니다.</p>
						        </div>
	                            <div class="row with-forms">
	                                <div class="col-md-12">
	                                    <a href="/findID"><i style="margin-right:2px;" class="fa fa-fw">&#xf059;</i>아이디 찾기</a><br>
	                                    <a href="/findPW"><i style="margin-right:2px;" class="fa fa-fw">&#xf059;</i>비밀번호 찾기</a><br>
	                                    <a href="/memberRegisterForm"><i style="margin-right:5px;" class="sl sl-icon-user-follow"></i>회원가입</a>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="login-btn-section">
	                            <button type="submit" class="button login-btn" style="margin-bottom:10px;">로그인 <i class="fa fa-arrow-circle-right"></i></button>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/front/common :: footer"></th:block>
    </div>

  <th:block th:replace="fragments/front/common :: mainScript"></th:block>

</body>

</html>