<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">

<title th:text="${title}">상승</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/front/css/style.css">
<link rel="stylesheet" href="/front/css/main-color.css" id="colors">
<link rel="stylesheet" href="/front/css/detail.css">
<link rel="icon" type="image/png" href="/front/icon.ico">
<script src="https://kit.fontawesome.com/c5ff1aa588.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="/front/css/plugins/vanilla-calendar.css">
<!-- Canonical URL -->
<link rel="canonical" href="https://sangseungip.co.kr/" />
<link rel="stylesheet" href="/front/css/popup.css">
<!-- Primary Meta Tags -->
<meta name="title" content="최고의 등록가능성, 상승특허">
<meta name="description"
	content="상표출원 특허출원 디자인출원, 출원은 시작에 불과합니다. 가장 빠르고 높은 등록가능성을 제공합니다.">
<meta name="keywords"
	content="상승특허, 특허출원, 특허, 특허변리사, 특허등록, 상표출원, 상표, 상표등록, 상표변리사, 상호출원, 상호, 상호등록, 디자인출원, 디자인등록, 디자인변리사, 변리사, 디자인, 디자인권, 상표권, 특허권">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://sangseungip.co.kr/">
<meta property="og:title" content="최고의 등록률, 상승특허">
<meta property="og:description" content="상표출원 특허출원 디자인출원, 출원은 시작에 불과합니다. 가장 빠르고 높은 등록가능성을 제공합니다.">
<meta property="og:image" content="https://sangseungip.co.kr/front/images/new/logo_full.png">
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sangseungip.co.kr/">
<meta property="twitter:title" content="최고의 등록률, 상승특허">
<meta property="twitter:description" content="상표출원 특허출원 디자인출원, 출원은 시작에 불과합니다. 가장 빠르고 높은 등록가능성을 제공합니다.">
<meta property="twitter:image" content="https://sangseungip.co.kr/front/images/new/logo_full.png">

<!-- Verification Codes -->
<meta name="google-site-verification" content="r4xqmILVrIQPjo07Ee_ifItqA3NqOKoWzdilI51bfF0" />
<meta name="naver-site-verification" content="7002da669ed3d25ced7c816402e864bc513b47bd" />

<!-- Schema Markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "상승특허",
  "url": "https://sangseungip.co.kr/",
  "logo": "https://sangseungip.co.kr/front/images/new/logo_full.png",
  "alternateName": "SANGSEUNGIP",
  "contactPoint": [
    {
      "@type": "ContactPoint",
      "telephone": "02-6737-3921",
      "contactType": "customer service",
      "email": "contact@sangseungip.co.kr",
      "areaServed": [
        "KR"
      ]
    }
  ]
}
</script>
<!--  Google tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QQFT3KB4CM">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QQFT3KB4CM');
</script>
<script type="text/javascript" src="/front/scripts/jquery-3.6.0.min.js"></script>
</head>


<body>

	<th:block th:fragment="headMenu">
		<header id="header-container" class="fullwidth">
			<div id="header">
				<div class="container">
					<div class="left-side">
						<div id="logo">
							<a href="/index"><img src="/front/logo.png" alt=""></a>
						</div>
						<div class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</div>

						<nav id="navigation" class="style-1">
							<ul id="responsive">
								<li><a class="current" href="/index">Home</a></li>
								<li><a href="javascript:void(0)">상승특허</a>
									<ul class="big-menu">
										<li><a href="/overall#overall"># 회사개요</a></li>
										<li><a href="/overall#reason"># 왜 상승인가</a></li>
										<li><a href="/overall#team"># 구성원 소개</a></li>
										<li><a href="/overall#history"># 회사 연혁</a></li>
									</ul></li>

								<li><a href="javascript:void(0)">업무소개</a>
									<div class="mega-menu mobile-styles three-columns">
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 상표</li>
												<li><a href="/markup#markup-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/markup#markup-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/markup#markup-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/trademark"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>
												<li><a href="/my/contactMarkup"><i
														class="sl sl-icon-question"></i> 상표 신청하기</a></li>
											</ul>
										</div>
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 특허</li>
												<li><a href="/patent#patent-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/patent#patent-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/patent#patent-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/patent"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>
												<li><a href="/my/contactPatent"><i
														class="sl sl-icon-question"></i> 특허 신청하기</a></li>
											</ul>
										</div>
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 디자인</li>
												<li><a href="/design#design-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/design#design-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/design#design-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/design"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>		
												<li><a href="/my/contactDesign"><i
														class="sl sl-icon-question"></i> 디자인 신청하기</a></li>
											</ul>
										</div>
									</div></li>
								<li><a href="javascript:void(0)">고객센터</a>
									<ul class="big-menu">
										<li><a href="/notice"># 공지사항</a></li>
										<li><a href="/faq"># FAQ</a></li>
										<li><a href="/reference"># 자료실</a></li>
									</ul></li>
							</ul>
						</nav>
						<div class="clearfix"></div>
					</div>
					<div class="right-side">
						<div class="header-widget">
							<div class="user-menu" sec:authorize="isAuthenticated()">
								<div class="user-name">
									<span sec:authentication="principal.name"></span>님
								</div>
								<ul>
									<li><a href="/my/myInfo"><i
											class="sl sl-icon-settings" style="margin-right: 10px;"></i>계정관리</a></li>
									<li><a href="/my/myService"><i
											class="sl sl-icon-envelope-open"></i> 서비스신청현황</a></li>
									<li><a href="/logout"><i class="sl sl-icon-power"></i>
											로그아웃</a></li>
									<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
										href="/admin/index"><i class="sl sl-icon-login"></i>
											관리자페이지</a></li>
								</ul>
							</div>
							<div class="user-menu" sec:authorize="!isAuthenticated()">
								<div class="user-name">LOGIN</div>
								<ul>
									<li><a href="/memberLoginForm"><i
											class="sl sl-icon-login" style="margin-right: 8px;"></i>회원
											로그인</a></li>
									<li><a href="/memberRegisterForm"><i
											style="margin-left: 3px;" class="sl sl-icon-user-follow"></i>회원
											가입</a></li>
								</ul>
							</div>
							<a href="/markupSearch" class="button border with-icon">상표조회<i
								class="sl sl-icon-login"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
	</th:block>

	<th:block th:fragment="dashboardHead">
		<header id="header-container" class="fixed fullwidth dashboard">
			<div id="header">
				<div class="container">
					<div class="left-side">
						<div id="logo">
							<a href="/index"><img src="/front/logo.png" alt=""></a> <a
								href="/index" class="dashboard-logo"><img
								src="/front/images/new/logo.png" alt=""></a>
						</div>
						<div class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box"> <span
									class="hamburger-inner"></span>
								</span>
							</button>
						</div>

						<nav id="navigation" class="style-1">
							<ul id="responsive">
								<li><a class="current" href="/index">Home</a></li>
								<li><a href="javascript:void(0)">상승특허</a>
									<ul class="big-menu">
										<li><a href="/overall#overall"># 회사개요</a></li>
										<li><a href="/overall#reason"># 왜 상승인가</a></li>
										<li><a href="/overall#team"># 구성원 소개</a></li>
										<li><a href="/overall#history"># 회사 연혁</a></li>
									</ul></li>

								<li><a href="/javascript:void(0)">상승서비스</a>
									<div class="mega-menu mobile-styles three-columns">
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 상표</li>
												<li><a href="/markup#markup-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/markup#markup-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/markup#markup-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/trademark"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>
												<li><a href="/my/contactMarkup"><i
														class="sl sl-icon-question"></i> 상표 신청하기</a></li>
											</ul>
										</div>
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 특허</li>
												<li><a href="/patent#patent-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/patent#patent-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/patent#patent-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/patent"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>
												<li><a href="/my/contactPatent"><i
														class="sl sl-icon-question"></i> 특허 신청하기</a></li>
											</ul>
										</div>
										<div class="mega-menu-section">
											<ul>
												<li class="mega-menu-headline"># 디자인</li>
												<li><a href="/design#design-detail"><i
														class="sl sl-icon-pencil"></i> 서비스 소개</a></li>
												<li><a href="/design#design-cost"><i
														class="sl sl-icon-user"></i> 비용안내</a></li>
												<li><a href="/design#design-process"><i
														class="sl sl-icon-check"></i> 절차안내</a></li>
												<li><a href="/speedInquiry/design"><i
													class="sl sl-icon-call-in"></i> 무료견적문의</a></li>		
												<li><a href="/my/contactDesign"><i
														class="sl sl-icon-question"></i> 디자인 신청하기</a></li>
											</ul>
										</div>
									</div></li>
								<li><a href="/javascript:void(0)">고객센터</a>
									<ul class="big-menu">
										<li><a href="/notice"># 공지사항</a></li>
										<li><a href="/faq"># FAQ</a></li>
									</ul></li>
							</ul>
						</nav>
						<div class="clearfix"></div>
					</div>
					<div class="right-side">
						<div class="header-widget">
							<div class="user-menu" sec:authorize="isAuthenticated()">
								<div class="user-name">
									<span sec:authentication="principal.name"></span>님
								</div>
								<ul>
									<li><a href="/my/myInfo"><i
											class="sl sl-icon-settings" style="margin-right: 10px;"></i>계정관리</a></li>
									<li><a href="/my/myService"><i
											class="sl sl-icon-envelope-open"></i> 서비스신청현황</a></li>
									<li><a href="/logout"><i class="sl sl-icon-power"></i>
											로그아웃</a></li>
									<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
										href="/admin/index"><i class="sl sl-icon-login"></i>
											관리자페이지</a></li>
								</ul>
							</div>
							<div class="user-menu" sec:authorize="!isAuthenticated()">
								<div class="user-name">LOGIN</div>
								<ul>
									<li><a href="/memberLoginForm"><i
											class="sl sl-icon-login" style="margin-right: 8px;"></i>회원
											로그인</a></li>
									<li><a href="/memberRegisterForm"><i
											style="margin-left: 3px;" class="sl sl-icon-user-follow"></i>회원
											가입</a></li>
								</ul>
							</div>
							<a href="/markupSearch" class="button border with-icon">상표조회<i
								class="sl sl-icon-login"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
	</th:block>

	<th:block th:fragment="dashboardNav">
		<div class="dashboard-nav">
			<div class="dashboard-nav-inner">

				<ul data-submenu-title="Account">
					<li class="active"><a href="/my/myInfo"><i
							class="sl sl-icon-settings"></i> 내 계정정보</a></li>
					<li><a href="/my/myInfoChange"><i
							class="sl sl-icon-envelope-open"></i> 회원 정보 수정 </a></li>
					<li><a href="/logout"><i class="fa fa-calendar-check-o"></i>
							로그아웃</a></li>
					<li><a href="/my/withdraw"><i
							class="fa fa-calendar-check-o"></i> 회원 탈퇴</a></li>
				</ul>

				<ul data-submenu-title="Service">

					<li><a href="/my/myInquiry"><i class="sl sl-icon-star"></i>
							문의내역</a></li>
					<li><a><i class="sl sl-icon-layers"></i> 신청한 서비스</a>
						<ul>
							<li><a href="/my/myPatentService">특허서비스<span
									class="nav-tag green">6</span></a></li>
							<li><a href="/my/myMarkupService">상표서비스 <span
									class="nav-tag green">1</span></a></li>
							<li><a href="/my/myDesignService">디자인서비스 <span
									class="nav-tag red">0</span></a></li>
						</ul></li>
					<li><a href="/my/myPayment"><i class="sl sl-icon-plus"></i>
							결제 내역</a></li>
				</ul>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="footer">
		<div id="footer" class="sticky-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6 footer-section">
						<img class="footer-logo" src="/front/logo.png" alt=""> <br>
						<br>
						<p>상승국제특허법률사무소는 소상공인, 기술벤처기업의 비즈니스분야에 최적화된 최고의 특허, 상표, 디자인
							서비스를 제공하겠습니다.</p>
						<div class="text-widget" style="line-height: 1.2;">
							<span class="font-bold"># 사업자등록번호 </span> : <span>553-09-01471</span><br>
							<span class="font-bold"># 통신판매업신고번호</span> : <span>2023-서울강서-0250</span>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 footer-section">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="/privacy">개인정보취급방침</a></li>
							<li><a href="/manual">이용약관</a></li>
							<li><a href="/notice">공지사항</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/overall">회사소개</a></li>
							<li><a href="javascript:alert('준비중입니다.')">서비스이용후기</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3  col-sm-12 footer-section">
						<h4>Contact Us</h4>
						<div class="text-widget">
							<span>서울특별시 강서구 양천로 583, B동 1004호(염창동, 우림블루나인비즈니스센터)</span> <br>
							# TEL: <span>02-6737-3921</span><br>
							# PHONE: <span>010-4866-4894</span><br>
							# E-Mail:<span>
								<a href="#">contact@sangseungip.co.kr</a>
							</span><br>
						</div>

						<ul class="social-icons margin-top-20">
							<li><a class="facebook" href="#"><i
									class="icon-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
							<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
							<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2022 SANGSEUNG. All Rights
							Reserved.</div>
					</div>
				</div>
			</div>
		</div>
		<div id="backtotop">
			<a href="#"></a>
		</div>
		<a class="fixed-button service-btn"
			href="http://pf.kakao.com/_sxknaxj/chat" id="cacaoBtn" role="button">
			<span>카톡 문의하기</span>
			<div class="fixed-btn-icon">
				<i class="check fa-regular fa-comments"></i> <i
					class="remove fa-regular fa-comments"></i>
			</div>
		</a>
		<a class="fixed-button service-btn" href="tel:010-4866-4894"
			id="telBtn" role="button"> <span>전화 문의하기</span>
			<div class="fixed-btn-icon">
				<i class="check fa fa-fw">&#xf095;</i> <i class="remove fa fa-fw">&#xf095;</i>
			</div>
		</a>
		<a class="fixed-button service-btn" href="javascript:void(0)"
			id="contactBtn" role="button"> <span>신속 문의하기</span>
			<div class="fixed-btn-icon">
				<i class="check fa-regular fa-keyboard"></i> <i
					class="remove fa-regular fa-keyboard"></i>
			</div>
		</a>
		<div class="popup popup-center" id="popup">
			<div class="popup-description">
				<form method="post" action="/tempContactProc">
					<input class="form-control" sec:authorize="isAuthenticated()"
						type="hidden" name="memberInfo" th:value="${#authentication.name}">
					<div class="row">
						<div class="col-md-12">
							<h5>희망분야</h5>
							<select class="chosen-select" name="subject">
								<option value="선택없음">희망하시는 상담 내용</option>
								<option value="특허">특허</option>
								<option value="상표">상표</option>
								<option value="디자인">디자인</option>
							</select>
						</div>
						<div class="col-md-12" style="margin-top: 10px;">
							<div>
								<h5>
									# 성함(업체명) <i class="tip" data-tip-content="업체명(성함)을 입력 해 주세요."></i>
								</h5>
								<input name="name" type="text" required="required"
									placeholder="업체명(성함)을 입력 해 주세요." />
							</div>
							<div>
								<h5>
									# 연락처 <i class="tip" data-tip-content="정확하게 입력 해 주세요."></i>
								</h5>
								<input type="text" required="required" name="phone" id="phone"
									placeholder="-를 제외하고 입력 해 주세요." oninput="autoHyphenCheck(this)"
									maxlength="13" />
							</div>
							<div>
								<h5>문의사항</h5>
								<textarea cols="40" rows="3" id="comments" name="comments"
									placeholder="궁금한 내용이 있으시면 이곳에 입력 해 주세요." spellcheck="true"></textarea>
							</div>

						</div>
						<div class="col-md-12 term-alert">
							<p>
								# 상승의 <a href="/manual">서비스이용약관</a> 및 <a href="/privacy">개인정보취급방침</a>의
							</p>
							<p>내용을 확인 하였으며, 이에 동의합니다.</p>
						</div>
					</div>
					<div class="popup-btn-wrap">
						<button type="submit" class="popup-btn">문의하기</button>
						<button type="button" class="popup-btn" id="popup-dismiss-btn">창닫기</button>
					</div>
				</form>
			</div>
		</div>
		<script>
			var openbtn = document.getElementById("contactBtn");
			openbtn.addEventListener('click',function(){
				document.getElementById('popup').classList.add('active');
			});
			
			var closebtn = document.getElementById("popup-dismiss-btn");
			closebtn.addEventListener('click',function(){
				document.getElementById('popup').classList.remove('active');
			});
			
			const autoHyphenCheck = (target) => {
				target.value = target.value
					.replace(/[^0-9]/g, '')
					.replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
			}
		</script>
	</th:block>

	<th:block th:fragment="mainScript">
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

		<script type="text/javascript"
			src="/front/scripts/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="/front/scripts/mmenu.min.js"></script>
		<script type="text/javascript" src="/front/scripts/chosen.min.js"></script>
		<script type="text/javascript" src="/front/scripts/slick.min.js"></script>
		<script type="text/javascript" src="/front/scripts/rangeslider.min.js"></script>
		<script type="text/javascript"
			src="/front/scripts/magnific-popup.min.js"></script>
		<script type="text/javascript" src="/front/scripts/waypoints.min.js"></script>
		<script type="text/javascript" src="/front/scripts/counterup.min.js"></script>
		<script type="text/javascript" src="/front/scripts/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/front/scripts/tooltips.min.js"></script>
		<script type="text/javascript" src="/front/scripts/custom.js"></script>
		<script src="/front/scripts/leaflet.min.js"></script>
		<script src="/front/scripts/leaflet-markercluster.min.js"></script>
		<script src="/front/scripts/leaflet-gesture-handling.min.js"></script>
		<script src="/front/scripts/leaflet-listeo.js"></script>
		<script src="/front/scripts/leaflet-autocomplete.js"></script>
		<script src="/front/scripts/leaflet-control-geocoder.js"></script>
		<script src="/front/scripts/gsap.min.js"></script>
		<script src="/front/scripts/ScrollTrigger.min.js"></script>
		<script type="text/javascript" src="/front/scripts/isotope.min.js"></script>
	</th:block>

	<th:block th:fragment="dashboardScript">
		<script type="text/javascript"
			src="/front/scripts/jquery-3.6.0.min.js"></script>
		<script type="text/javascript"
			src="/front/scripts/jquery-migrate-3.3.2.min.js"></script>
		<script type="text/javascript" src="/front/scripts/mmenu.min.js"></script>
		<script type="text/javascript" src="/front/scripts/chosen.min.js"></script>
		<script type="text/javascript" src="/front/scripts/slick.min.js"></script>
		<script type="text/javascript" src="/front/scripts/rangeslider.min.js"></script>
		<script type="text/javascript"
			src="/front/scripts/magnific-popup.min.js"></script>
		<script type="text/javascript" src="/front/scripts/waypoints.min.js"></script>
		<script type="text/javascript" src="/front/scripts/counterup.min.js"></script>
		<script type="text/javascript" src="/front/scripts/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/front/scripts/tooltips.min.js"></script>
		<script type="text/javascript" src="/front/scripts/custom.js"></script>
	</th:block>
</body>

</html>