<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/front/common :: head('상승 특허 자주 묻는 질문')">


</head>
<body id="body">

	<div id="wrapper">
		<th:block th:replace="fragments/front/common :: headMenu"></th:block>
		<div class="clearfix"></div>

		<div id="titlebar"
			style="background: url('/front/images/new/title_background/05.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3 class="headline centered margin-top-75 page-title">
							<strong class="mb-15">상승국제특허법률사무소</strong>
							<p>Frequently Asked Questions</p>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container scroll margin-bottom-75">
			<div class="row">
				<div class="col-md-12">
					<h3 class="headline centered">
						<strong class="headline-with-separator">자주묻는질문</strong> <span>Frequently
							Asked Questions</span>
					</h3>
				</div>
				<div class="add-listing-section margin-top-120">
					<div class="submit-section">
						<div class="row with-forms">
							<div class="col-md-4">
								<h5>게시물수</h5>
								<select class="chosen-select-no-single">
									<option label="blank">--- 개씩 보기</option>
									<option>10개씩 보기</option>
									<option>30개씩 보기</option>
									<option>50개씩 보기</option>
									<option>100개씩 보기</option>
								</select>
							</div>
							<div class="col-md-4">
								<h5>제목 검색</h5>
								<input type="text" placeholder="검색어를 입력 하세요">
							</div>

							<div class="col-md-4">
								<h5>카테고리 검색</h5>
								<select class="chosen-select-no-single">
									<option label="blank">--- 카테고리 검색</option>
									<option>비용 관련</option>
									<option>가격 관련</option>
									<option>절차 관련</option>
									<option>기타 공지</option>
								</select>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-12">

					<div class="style-2">
						<div class="toggle-wrap">
							<span class="trigger"><a href="#" class="overall-main">특허 / 상표 / 출원의 절차는 어떻게 되나요?<i class="sl sl-icon-plus"></i>
									<p class="overall-sub">
										<span> # 절차관련</span>
									</p>
							</a> </span>

							<div class="toggle-container">
								<div class="row">
									<div class="col-md-12">
										<h4 class="headline with-border margin-top-0 margin-bottom-35">특허 / 상표 / 출원의 절차는 어떻게 되나요?</h4>
										<blockquote>출원인이 필요한 자료를 보내주시면(이메일 등),
변리사가 명세서를 포함한 특허 출원서류를 준비하고,
출원에서 등록까지의 절차는 아래와 같이 순차적으로 업무가 진행됩니다.

1. 출원서류 준비 
2. 출원(특허청에 신청)
3. 특허청에서 심사
   (특허청에서 의견제출통지서 발행 보정서 및 의견서 제출  => 중간대응)

4. 등록결정
5. 등록료 납부
6. 등록공고 및 증명서 발급

<a href="/patent"># 특허출원 상세사항</a>
<a href="/markup"># 상표출원 상세사항</a>
<a href="/design"># 디자인출원 상세사항</a>
</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="style-2">
						<div class="toggle-wrap">
							<span class="trigger"><a href="#" class="overall-main">특허 / 상표 / 디자인 출원시 준비할 것은 무엇인가요?<i class="sl sl-icon-plus"></i>
									<p class="overall-sub">
										<span> # 절차관련</span>
									</p>
							</a> </span>

							<div class="toggle-container">
								<div class="row">
									<div class="col-md-12">
										<h4 class="headline with-border margin-top-0 margin-bottom-35">특허 / 상표 / 디자인 출원시 준비할 것은 무엇인가요?</h4>
										<blockquote>변리사 사무소에 위임해서 진행할 경우, 준비서류는 아래와 같습니다.
- 아이디어 설명서 (간단한 설명서, 도면, 상표 이미지 등)
- 출원인 인적사항
- 발명자 인적사항
- 위임장

특허/디자인 출원 시에는, 시제품이나 제품의 견본은 필요하지 않으며, 
특허 내용을 알 수 있는 설명과 도면(스케치도면도 가능)만 있으면 가능합니다.

<a href="/reference"># 양식 확인하기</a> 
</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="style-2">
						<div class="toggle-wrap">
							<span class="trigger"><a href="#" class="overall-main">PCT 국제특허출원은 무엇인가요?<i class="sl sl-icon-plus"></i>
									<p class="overall-sub">
										<span> # 출원관련</span>
									</p>
							</a> </span>

							<div class="toggle-container">
								<div class="row">
									<div class="col-md-12">
										<h4 class="headline with-border margin-top-0 margin-bottom-35">PCT 국제특허출원은 무엇인가요?</h4>
										<blockquote>국제 특허청(WIPO)에 가입되어있는 151개국에 동시에 출원되는 효과를 가져오는 출원방법입니다.

한번에 여러개의 국가에 동시에 출원을 진행함으로써
여러 개국을 개국 별로 별도 출원하는 것에 비해
출원인의 비용과 노력을 덜 수 있습니다.

다만, 우선일로부터 2년 6개월까지는 등록 받고자 하는 국가를 지정하여 그 나라 특허청에 번역문을 제출해야, 그 나라 특허청에서 심사를 거쳐 등록이 진행 됩니다.

일반 국내출원에 비해 절차는 물론 각국의 법령에 따라
여러가지 고려할 요소가 많으니
당 소 변리사의 상담을 꼭 받으시기 바랍니다.
</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="style-2">
						<div class="toggle-wrap">
							<span class="trigger"><a href="#" class="overall-main">특허와 실용신안의 차이는 무엇인가요?<i class="sl sl-icon-plus"></i>
									<p class="overall-sub">
										<span> # 용어관련</span>
									</p>
							</a> </span>

							<div class="toggle-container">
								<div class="row">
									<div class="col-md-12">
										<h4 class="headline with-border margin-top-0 margin-bottom-35">특허와 실용신안의 차이는 무엇인가요?</h4>
										<blockquote>쉽게 설명하자면 특허는 어려운 발명, 실용신안은 쉬운 발명이라고 볼 수 있습니다.
단, 등록의 난이도는 차이가 많이 나지 않으며
가능하다면 권리범위는 물론 등록기간이 유리한
특허출원으로 진행하시는 것이 유리합니다.

출원비용, 등록가능성의 차이가 있으며 특허권의 보호기간은 20년, 실용신안권은 10년입니다.(20여 국가에서만 실용신안권 제도 있음)

당 소의 전문 연구진의 기술자문을 통해
특허출원가능성을 꼭 확인하시기 바랍니다.
</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="style-2">
						<div class="toggle-wrap">
							<span class="trigger"><a href="#" class="overall-main">등록이 급하게 필요한 경우 다른 방법은 없는걸까요?<i class="sl sl-icon-plus"></i>
									<p class="overall-sub">
										<span> # 기간관련</span>
									</p>
							</a> </span>

							<div class="toggle-container">
								<div class="row">
									<div class="col-md-12">
										<h4 class="headline with-border margin-top-0 margin-bottom-35">특허와 실용신안의 차이는 무엇인가요?</h4>
										<blockquote>우선심사제도를 이용하여 출원하면 등록까지의 기간을
크게 줄일 수 있습니다.									

단, 우선심사제도 이용시 특허/실용신안권 3~6개월 내외, 
상표 및 디자인권의 경우 2~5개월 내외 소요되며 제도이용에 따른 추가 비용이 발생함은 물론
빠르게 심사가 진행되다보니 변리사와 함께 정밀하게 검토 후 이용하는것이

확실한 권리보호를 위해 필요합니다.
</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pagination-container margin-top-30">
								<nav class="pagination">
									<ul>
										<li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
										<li><a href="#" class="current-page">1</a></li>
										<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: footer"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: mainScript"></th:block>
</body>

</html>