<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/front/common :: head('홈')">

</head>

<body>

	<div id="wrapper">
		<th:block th:replace="/fragments/front/common :: headMenu"></th:block>
		<div class="clearfix"></div>
		<div class="home-search-carousel carousel-not-ready">
			<div class="home-search-slide"
				style="background-image: url(/front/images/new/index/bg01.png)">
				<div class="home-search-slider-headlines">
					<div class="container">
						<div class="col-md-12">
							<h3>
								소상공인 여러분의 <a href="javascript:void(0)">비즈니스 필수병기는</a>
							</h3>
							<h3>상표권 입니다.</h3>
						</div>
						<div class="col-md-12 main-content">
							<p>여러분의 상승과 함께한다면,</p>
							<p>20년 이상 경력의 상표심사관 / 심판관의 경험과 노하우를</p>
							<p>당신의 비즈니스에 더할 수 있습니다.</p>
							<a href="#" class="button border main-service-btn"><i class="sl sl-icon-arrow-right-circle"></i>상표상담 신청하기</a>
						</div>
					</div>
				</div>
			</div>

			<div class="home-search-slide"
				style="background-image: url(/front/images/new/index/bg02.png)">
				<div class="home-search-slider-headlines">
					<div class="container">
						<div class="col-md-12">
							<h3>
								기술기반 벤처기업의 비즈니스의 <a href="javascript:void(0)">최고의 무기는</a>
							</h3>
							<h3>특허권 입니다.</h3>
						</div>
						<div class="col-md-12 main-content">
							<p>상승과 함께 특허청 출신의 특허심사관의 경험과 노하우,</p>
							<p>공학 전문 변리사의 기술역량을 통해</p>
							<p>당신의 경쟁력과 기술을 완성하시기 바랍니다.</p>
							<a href="#" class="button border main-service-btn"><i class="sl sl-icon-arrow-right-circle"></i>특허상담 신청하기</a>
						</div>
					</div>
				</div>
			</div>

			<div class="home-search-slide"
				style="background-image: url(/front/images/new/index/bg03.png)">
				<div class="home-search-slider-headlines">
					<div class="container">
						<div class="col-md-12">
							<h3>
								트렌디한 비즈니스의<a href="javascript:void(0)"> 숨겨진 해답은</a> 
							</h3>
							<h3>디자인권 입니다.</h3>
						</div>
						<div class="col-md-12 main-content">
							<p>상승과 함께 디자인 심사관 / 심판관의 경험으로</p>
							<p>당신의 기술과 경쟁력에 '디자인' 이라는 최고의 무기를</p>
							<p>더할 수 있습니다.</p>
							<a href="#" class="button border main-service-btn"><i class="sl sl-icon-arrow-right-circle"></i>디자인상담 신청하기</a>
						</div>
						
					</div>
				</div>
			</div>

			<!-- <div class="container search-cont">
				<div class="col-md-12">

					<div class="main-search-input">

						<div class="main-search-input-item">
							<input type="text" placeholder="검색하고 싶은 상표명을 입력 해 주세요" value="" />
						</div>

						<div class="main-search-input-item">
							<select data-placeholder="All Categories" class="chosen-select">
								<option>ALL</option>
								<option>출원인</option>
								<option>상표명</option>
							</select>
						</div> 
						<button class="button">검색</button>
					</div>
				</div>
			</div>-->
		</div>
		<!-- <div class="line-banner">
			<a href="#" class="flip-banner parallax"
				data-background="/front/images/slider-bg-02.jpg"
				data-color="#094bad" data-color-opacity="0.75" data-img-width="2500"
				data-img-height="1666">
				<div class="flip-banner-content">
					<h2 class="flip-visible">심사관 출신의 변리사들과 여러 공학 분야의 전문 연구진들이 고객의
						기술과 권리를 확실하게 지켜드립니다.</h2>
					<h2 class="flip-hidden">
						서비스 신청하기<i class="im im-icon-Triangle-ArrowRight"></i>
					</h2>
				</div>
			</a>
		</div> -->
		<section
			class="fullwidth margin-top-0 padding-top-0 padding-bottom-40">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="headline centered margin-top-75">
							<strong class="headline-with-separator">Remember</strong> <span>특허출원은
								<i class="strong">단순히 법률적 이슈를 넘어 기술적 공학적 전문 지식을 요구하는</i> 종합적인
								상담이 중요합니다.
							</span>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-lg-6 col-md-6 mb-20 h-400"
						style="background: url('/front/images/new/remember/new/l1.png');">
						<div class="post-content left">
							<p class="remember-subject">특허/상표/디자인 출원절차가</p>
							<p class="remember-subject">복잡하고 어려워서</p>
							<p class="remember-subject">출원을 망설이고 계신가요?</p>

						</div>
					</div>
					<div class="col-6 col-lg-6 col-md-6 h-400 mb-20"
						style="background: url('/front/images/new/remember/new/r1.png')">

						<div class="post-content right">
							<p class="remember-subject">담당자 배정 시스템을 통해</p>
							<p class="remember-subject">서비스 신청 한번만으로도</p>
							<p class="remember-subject">출원부터 등록까지</p>
							<p class="remember-subject">간편한 절차진행이 가능합니다.</p>
							<p class="remember-content">또한 매번 나의 절차가 어떻게 되고 있을지 궁금하신 분들을
								위해 언제나 문의-소통이 가능한 다양한 채널을 운영하고 있습니다.</p>
							<a href="contact.html" class="read-more">서비스 신청하기 <i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-6 col-lg-6 col-md-6 mb-20 h-400"
						style="background: url('/front/images/new/remember/new/l2.png');">
						<div class="post-content left">
							<p class="remember-subject">특허/상표/디자인 출원시</p>
							<p class="remember-subject">가장 중요한 점은 과연</p>
							<p class="remember-subject">무엇일까요?</p>

						</div>
					</div>
					<div class="col-6 col-lg-6 col-md-6 h-400 mb-20"
						style="background: url('/front/images/new/remember/new/r2.png')">
						<div class="post-content right">
							<p class="remember-subject">모든 절차에는 비용과 노력이</p>
							<p class="remember-subject">발생합니다.</p>
							<p class="remember-subject">그래서 한번에 등록까지</p>
							<p class="remember-subject">확실한 절차 진행이 가장 중요합니다.</p>
							<p class="remember-content">
								<strong>상승</strong>은 심사관/심판관출신의 변리사들이 고객님의 목적을 실현하기 위한 최적의 권리범위를
								지켜드립니다.
							</p>
							<a href="contact.html" class="read-more">서비스 신청하기 <i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="col-6 col-lg-6 col-md-6 mb-20 h-400"
						style="background: url('/front/images/new/remember/new/l3.png');">
						<div class="post-content left">
							<p class="remember-subject">아이디어만 있으신가요?</p>
							<p class="remember-subject">공학 전문 연구진의</p>
							<p class="remember-subject">기술 자문이 필요하신가요?</p>
							<p class="remember-content">
								<strong>상승</strong>은 다양한 공학기술자문을 통해 고객님의 기술 완성을 지원해드립니다.
							</p>
						</div>

					</div>
					<div class="col-6 col-lg-6 col-md-6 h-400 mb-20"
						style="background: url('/front/images/new/remember/new/r3.png')">
						<div class="post-content right">
							<p class="remember-subject">
								<strong>상승</strong>은 다양한 전공의
							</p>
							<p class="remember-subject">전문 변리사분들이</p>
							<p class="remember-subject">권리범위는 물론 기술적 자문도</p>
							<p class="remember-subject">진행하여 기술 완성을 지원합니다.</p>
							<p class="remember-content">내 아이디어가 다른 사람에게 침해받지 않으려면 정확히 어떤
								부분을 보강해야 하는지 지금 바로 상승과 상담하세요.</p>
							<a href="contact.html" class="read-more">서비스 신청하기 <i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section
			class="fullwidth margin-top-0 padding-top-0 padding-bottom-40">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<h3 class="headline centered margin-top-75">
							<strong class="headline-with-separator">상승과 함께라면?</strong> 
							<span>- 특허와 상표, 디자인의 <i class="strong">등록률이 상승(上昇)</i>합니다.
							</span>
							<span>- 여러분 비즈니스의 <i class="strong">경쟁력이 상승(上昇)</i>합니다.
							</span>
							<span>- 항상 승리(常勝)할 수 있도록 <i class="strong">최강의 비즈니스 전략을</i> 제공합니다.
							</span>
						</h3>
					</div>
				</div>
			</div>
			<div class="fullwidth-carousel-container margin-top-50 main-carousel">
				<div
					class="fullwidth-slick-carousel category-carousel main-carousel-wrap">
					<div class="fw-carousel-item">
						<div class="category-box-container">
							<img src="/front/images/new/why/why05.png" width="100%">
							<div class="category-box-content">
								<h3>상승특허는 최고의 등록가능성 제공하는 특허사무소입니다.</h3>
							</div>
							<div class="image__overlay">
								<div class="hover-subtitle">
									<h4># Allowability</h4>
									<h4>더 높은 등록가능성과 고객 권리 보호를 제공합니다.</h4>
								</div>
								<div class="hover-content">
									<p>10년 이상의 심사와 심판으로 축적된 경험과 역량을 바탕으로</p>
									<p>특허/상표/디자인출원 모두 </p>
									<p class="underline">최고의 등록가능성을 제공하기 위해 노력합니다.</p>
								</div>
							</div>
						</div>

					</div>
					<div class="fw-carousel-item">
						<div class="category-box-container">
							<img src="/front/images/new/why/why01.png" width="100%">
							<div class="category-box-content">
								<h3>상승특허 소상공인과 기술벤처기업에 최적화되어 있습니다.</h3>
							</div>
							<div class="image__overlay">
								<div class="hover-subtitle">
									<h4># Technology-Oriented Approach</h4>
									<h4>다양한 분야의 비즈니스 지원을 제공합니다.</h4>
								</div>
								<div class="hover-content">
									<p>상승은 소상공인의 비즈니스가 성공할 수 있도록 항상 최선을 다합니다.</p>
									<p>상승의 주 고객인 소상공인과 기술벤처기업의 곁에서 언제나</p>
									<p>상표, 특허, 디자인과 관련한 모든 문제를</p>
									<p class="underline">함께 고민하고 해결책을 제시합니다.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="fw-carousel-item">
						<div class="category-box-container">
							<img src="/front/images/new/why/why02.png" width="100%">
							<div class="category-box-content">
								<h3>상승특허는 고객 여러분의 비용절감을 위해 노력합니다.</h3>
							</div>
							<div class="image__overlay">
								<div class="hover-subtitle">
									<h4># Allowable Cost</h4>
									<h4>최적의 예산으로 최고의 결과를.</h4>
								</div>
								<div class="hover-content">
									<p>상승은 업무자동화를 통해 직접적인 고객의 비용절감은 물론이고,</p>
									<p>고객의 비즈니스의 모든 영역에 최적의 전략을 제공함으로써</p>
									<p class="underline">최소의 비용으로 최대의 효과를 낼 수 있도록 노력합니다.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="fw-carousel-item">
						<div class="category-box-container">
							<img src="/front/images/new/why/why04.png" width="100%">
							<div class="category-box-content">
								<h3>상승특허는 고객의 비즈니스 전략을 함께 고민합니다.</h3>
							</div>
							<div class="image__overlay">
								<div class="hover-subtitle">
									<h4># Business Strategies </h4>
									<h4>사업에서 승리할 수 있도록.</h4>
								</div>
								<div class="hover-content">
									<p>상표, 특허, 디자인을 통해 고객의 비즈니스가 성장할 수 있도록</p>
									<p class="underline">고객의 입장에서 비즈니스 전략과 특허전략을 함께 고민합니다.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="fw-carousel-item">
						<div class="category-box-container">
							<img src="/front/images/new/why/why03.png" width="100%">
							<div class="category-box-content">
								<h3>상승특허는 역지사지(易地思之)를 실천합니다.</h3>
							</div>
							<div class="image__overlay">
								<div class="hover-subtitle">
									<h4># Customer's Position</h4>
									<h4>고객이 원하는 바를 명확하게.</h4>
								</div>
								<div class="hover-content">
									<p>상승은 언제나 고객의 입장에서 고민하며,</p>
									<p class="underline">심사관/심판관의 입장에서 판단하여 출원을 진행합니다.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container margin-top-70" id="main-service-container">
			<div class="row">

				<div class="col-md-12">
					<h3 class="headline centered margin-bottom-45">
						<strong class="headline-with-separator">Services</strong> <span>다양한
							분야의 기술 전문 연구진과 <i class="strong">10년이상 경력의 베테랑 변리사</i>들이 최고의 서비스를
							제공합니다.
						</span>
					</h3>
				</div>

				<div class="col-md-12">
					<div class="style-1">
						<div id="main-service-btn">
							<li class="active"><a class="btn blue" href="#tab1a">
									<div class="icon">
										<i class="sl sl-icon-pin"></i>
									</div> <span>특허서비스</span>
							</a></li>
							<li><a class="btn sky" href="#tab2a">
									<div class="icon">
										<i class="sl sl-icon-badge"></i>
									</div> <span>상표서비스</span>
							</a></li>
							<li><a class="btn red" href="#tab3a">
									<div class="icon">
										<i class="sl sl-icon-bubbles"></i>
									</div> <span>디자인서비스</span>
							</a></li>
						</div>

						<div class="tabs-container">
							<div class="tab-content" id="tab1a">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="pricing-container margin-top-30 row">
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>특허 기본 출원</h3>
													<h3 class="period mb-0 mt-0">1,200,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
													# 특허청 관납료 : 69,900원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>선임 및 대리인등록 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>출원 가능성 판단</strong> 후 출원 진행</li>

													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>

											</div>
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>특허 심화 출원</h3>
													<h3 class="period mb-0">1,400,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 69,900원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>선행 기술 조사</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>

											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>특허 스피드 출원</h3>
													<h3 class="period mb-0">1,600,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 69,900원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>선행 기술 조사</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>우선심사신청 진행</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>
										</div>
										<div class="margin-top-50 process-wrap">
											<div class="col-md-12">
												<h3 class="headline centered margin-bottom-45">
													<strong class="headline-with-separator">Patent
														Process</strong> <span>절차는 간소화 하고 <i class="strong">등록률은
															높이는</i> 상승의 서비스입니다.
													</span>
												</h3>
											</div>
											<img src="/front/images/new/patent-process.jpg" width="100%">
											<p>* 자세한 절차 및 비용은 <a href="/patent"><i class="sl sl-icon-arrow-right-circle"></i> 상세 페이지</a>에서 확인할 수 있습니다.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-content" id="tab2a">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="pricing-container margin-top-30 row">
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>상표 기본 출원</h3>
													<h3 class="period mb-0">75,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
													# 특허청 관납료 : 56,000원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>선임 및 대리인등록 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>출원 가능성 판단</strong> 후 출원 진행</li>

													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>

											</div>
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>상표 심화 출원</h3>
													<h3 class="period mb-0">155,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 56,000원 별도
													</span>
													<span class="period">
														# 도형상표 / 복합상표의 경우
													</span>
													<span class="period">
														비용이 추가될 수 있습니다.
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>선행상표 조사</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>

											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>상표 스피드 출원</h3>
													<h3 class="period mb-0">325,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 56,000원 별도
													</span>
													<span class="period">
														# 우선심사 관납료 : 160,000원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>선행상표 조사</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>우선심사신청 진행</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>
										</div>
										<div class="margin-top-50">
											<div class="col-md-12">
												<h3 class="headline centered margin-bottom-45">
													<strong class="headline-with-separator">MarkUp
														Process</strong> <span>절차는 간소화 하고 <i class="strong">등록률은
															높이는</i> 상승의 서비스입니다.
													</span>
												</h3>
											</div>
											<img src="/front/images/new/markup-process.jpg" width="100%">
											<p>* 자세한 절차 및 비용은 <a href="/markup"><i class="sl sl-icon-arrow-right-circle"></i> 상세 페이지</a>에서 확인할 수 있습니다.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-content" id="tab3a">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<div class="pricing-container margin-top-30 row">
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>디자인 기본 출원</h3>
													<h3 class="period mb-0">200,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
													# 특허청 관납료 : 28,200원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>선임 및 대리인등록 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i>출원 가능성 판단 후 출원 진행</li>

													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>

											</div>
											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>디자인 심화 출원</h3>
													<h3 class="period mb-0">350,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 28,200원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>

											<div class="plan col-lg-4 col-md-4">
												<div class="plan-price">
													<h3>디자인 스피드 출원</h3>
													<h3 class="period mb-0">520,000
														<span class="small"> 원/건 부터</span>
													</h3> 
													<span class="period">
														# 특허청 관납료 : 28,200원 별도
													</span>
													<span class="period">
														# 우선심사 관납료 : 70,000원 별도
													</span>
												</div>

												<div class="plan-features">
													<ul>
														<li><i class="sl sl-icon-check"></i>특허청 <strong>심판관/심사관
																출신</strong> 변리사 선임</li>
														<li><i class="sl sl-icon-check"></i>고객 담당 직원 배정 및 관리</li>
														<li><i class="sl sl-icon-check"></i>선임 절차 간편진행</li>
														<li><i class="sl sl-icon-check"></i>출원 상담 및 절차관리</li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성 판단 및 조사보고서 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>등록 가능성에 대한 솔루션 제공</strong></li>
														<li><i class="sl sl-icon-check"></i><strong>우선심사신청 진행</strong></li>
													</ul>
													<a class="button border service-apply-btn" href="#">서비스신청</a>
												</div>
											</div>
										</div>
										<div class="margin-top-50">
											<div class="col-md-12">
												<h3 class="headline centered margin-bottom-45">
													<strong class="headline-with-separator">Design
														Process</strong> <span>절차는 간소화 하고 <i class="strong">등록률은
															높이는</i> 상승의 서비스입니다.
													</span>
												</h3>
											</div>
											<img src="/front/images/new/design-process.jpg" width="100%">
											<p>* 자세한 절차 및 비용은 <a href="/design"><i class="sl sl-icon-arrow-right-circle"></i> 상세 페이지</a>에서 확인할 수 있습니다.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section
			class="fullwidth margin-top-70 padding-top-75 padding-bottom-70"
			data-background-color="#0056aa">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div
							class="categories-boxes-container-alt margin-top-5 margin-bottom-30">

							<a href="#" class="category-small-box-alt"> <i
								class="im im-icon-Mail-Outbox"></i>
								<h4>특허/디자인 출원 건수</h4> <span class="category-box-counter-alt">1,200건 이상</span>
								<img src="/front/images/new/history.jpg">
							</a> <a href="#" class="category-small-box-alt"> <i
								class="im im-icon-Boom"></i>
								<h4>상표 출원 건수</h4> <span class="category-box-counter-alt">1,300건 이상</span>
								<img src="/front/images/new/history.jpg">
							</a> <a href="#" class="category-small-box-alt"> <i
								class="im im-icon-Check"></i>
								<h4>특허 심사 건수</h4> <span class="category-box-counter-alt">2,300건 이상</span>
								<img src="/front/images/new/history.jpg">
							</a> <a href="#" class="category-small-box-alt"> <i
								class="im im-icon-Checked-User"></i>
								<h4>상표/디자인 심판대리 건수</h4> <span class="category-box-counter-alt">200회</span>
								<img src="/front/images/new/history.jpg">
							</a>

						</div>
					</div>
					<div class="col-md-12 centered-content">
						<a href="#" class="button border margin-top-10 history-btn">서비스
							신청하기</a>
					</div>
				</div>
			</div>
		</section>

		<section
			class="fullwidth margin-top-0 padding-top-75 padding-bottom-75"
			data-background-color="#fff">
			<div class="container">

				<div class="col-md-12">
					<h3 class="headline centered">
						<strong class="headline-with-separator">Key Point</strong> <span>특허/상표/디자인
							서비스는 <i class="strong">다음과 같은 Point를 꼭 확인하고</i> 이용 하셔야 합니다.
						</span>
					</h3>
				</div>

				<div class="row">
					<div class="col-md-4">
						<a href="#" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="/front/images/new/point/point01.png" alt="">
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li># 서류 및 행정 대행 서비스가 아닙니다.</li>
									</ul>
									<h3>정확한 법률 상담이 중요합니다.</h3>
									<p>지식재산권의 경우 명세서의 단어 하나, 문장 하나로도 권리범위가 크게 달라질 수 있고, 이는 고객의
										권리범위에 큰 변화를 가져오게됩니다. 정확한 법률 상담이 중요합니다.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="/front/images/new/point/point02.png" alt="">
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li># 출원하고자 하는 대상이 중요합니다.</li>
									</ul>
									<h3>상표와 상호는 다릅니다.</h3>
									<p>
										내가 출원하고자 하는 대상이 상품인지, 아니면 서비스인지에 따라서 출원하는 대상과 절차가 달라집니다.<strong>
											동일한 상표가 있다고 해도 상품이 다르면 등록될 수 있습니다.</strong>
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="blog-compact-item-container">
							<div class="blog-compact-item">
								<img src="/front/images/new/point/point03.png" alt="">
								<div class="blog-compact-item-content">
									<ul class="blog-post-tags">
										<li># 기술자문을 지원합니다.</li>
									</ul>
									<h3>아이디어를 지원합니다.</h3>
									<p>고객의 기술속한 기술범위가 어떠한 과거로 부터 어떤 미래로 나아가게 되는지 방향성을 그리고, 그
										방향성 내에서 좋은 위치를 선점할 수 있도록 기술 자문이 중요합니다.</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			
		</section>
		<th:block th:replace="/fragments/front/common :: footer"></th:block>
	</div>
	<th:block th:replace="/fragments/front/common :: mainScript"></th:block>
	<script src="/front/scripts/detail.js"></script>
	<script>
		var typed = new Typed('.typed-words', {
			strings : [ "등록률이 상승합니다.", " 경쟁력이 상승합니다.", " 안전성이 상승합니다." ],
			typeSpeed : 80,
			backSpeed : 80,
			backDelay : 4000,
			startDelay : 1000,
			loop : true,
			showCursor : true
		});
		$(window).on('load', function() {
			$('.msps-shapes').addClass('shapes-animation');
		});

		const parent = document.getElementById('scene');
		const parallax = new Parallax(parent, {
			limitX : 50,
			limitY : 50,
		});

		$('.msps-slider').slick({
			infinite : true,
			slidesToShow : 1,
			slidesToScroll : 1,
			dots : true,
			arrows : false,
			autoplay : true,
			autoplaySpeed : 5000,
			speed : 1000,
			fade : true,
			cssEase : 'linear'
		});
		$(function() {
			$('.plan').on('mouseover', function() {
				$(this).addClass('featured');
				$(this).append('<div class="listing-badge">'
								+ '<span class="featured">Featured</span>'
								+ '</div>');
				});
			$('.plan').on('mouseout', function() {
				$(this).removeClass('featured');
				$('.listing-badge').remove();
			});

		});
	</script>

</body>

</html>